<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">


            {% for post in site.posts %}
              <div class="col-sm-4 col-xs-6 tile_container">
                  <div class="tile">
                      <h3 class="text-center"><a href="{{ post.url | prepend: site.baseurl }}"><span class="classname">{{ post.name }}</span></a></h3>
                  </div>
              </div>
            {% endfor %}

            </div> <!-- .row -->
        </div><!-- .container -->
    </div><!-- .container-fluid -->






    {% include footer.html %}
  </body>
</html>
