---
layout: default
---
<ol class="breadcrumb">
    <li><a href="{{ site.baseurl }}/" title="home">Home</a></li>
    <li class="active"><a href="{{ page.url }}" title="">{{ page.name }}: {{ page.title }}</a></li>
</ol>

<section class="row">
    <div class="col-md-8 col-md-offset-2">
        <header>
            <h2>{{ page.name }}: {{ page.title }}</h2>
            <p class="lead">{{ page.description }}</p>
        </header>
        <div class="panel panel-default">
            {% if page.readings %}
            <div class="panel-heading">
                <h3 class="panel-title">Read by next week</h3>
            </div>
            <div class="list-group">
                {% for reading in page.readings %}
                    {% if reading.url %}
                    <a href="{{ reading.url }}" class="list-group-item">{{ reading.title }}</a>
                    {% else %}
                    <span class="list-group-item">{{ reading.title }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% if page.downloads %}
            <div class="panel-heading">
                <h3 class="panel-title">Downloads</h3>
            </div>
            <div class="list-group">
                {% for download in page.downloads %}
                    <a href="{{ download.url }}" class="list-group-item">{{ download.title }}</a>
                {% endfor %}
            </div>
            {% endif %}

            {% if page.quizzes %}
            <div class="panel-heading">
                <h3 class="panel-title">Quizzes</h3>
            </div>
            <div class="list-group">
                {% for quiz in page.quizzes %}
                    <a href="{{ quiz.url }}" class="list-group-item">{{ quiz.title }}</a>
                {% endfor %}
            </div>
            {% endif %}

            {% if page.assignment %}
            <div class="panel-heading">
                <h3 class="panel-title">Complete by next week</h3>
            </div>
            <div class="list-group">
                <span class="list-group-item">{{ page.assignment }}</span>
            </div>
            {% endif %}
        </div>
        <div class="lesson">
            {{ content }}
        </div>
    </div>
</section>
